.wd-modules,
.wd-modules * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-modules {
    margin: 5px;
}

.wd-agenda,
.wd-agenda * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-agenda {
    margin: 5px;
}

.wd-modules>li {
    background-color: lightgray;
    border: 1px solid gray !important;
    border-left: none !important;
}

.wd-agenda>div {
    background-color: white;
}

.wd-agenda>div>a {
    color: red
}

.wd-agenda>div>i {
    color: red
}

.wd-agenda>div>p {
    color: lightgray
}

.wd-modules>li>div {
    padding: 6px;
    border-left: 1px solid gray !important;
}

.wd-modules>li>ul>li {
    padding: 5px;
    border-top: 1px solid gray !important;
    border-left: 2px solid green;
}

.wd-modules>li {
    margin-bottom: 20px;
}

.wd-justify-end {
    display: flex;
    justify-content: end;
}

.wd-module-button {
    background-color: red;
    color: white;
}

.wd-view-calendar {
    color: red
}

.wd-publish-button {
    background-color: lightgreen;
    color: white;
    border-color: lightgreen;
    /* border: none; */
}